.Home {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Main {
    align-items: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    
    height: auto;
    width: 100vw;
}

.imgBG {
    height: auto;
    width: 100vw;
}

.StartButton {
    position: relative;

    color: white;
    background: #2e425c;
    
    padding: 2.2vw 5.5vw;

    font-family: 'NanumBarunpen Bold';
    line-height: 5.58vw;

    border: 0.57vw solid #95c8e6;
    border-radius: 4.41vw;
    box-shadow: 0 0 1.08vw 0 #008cff;
    outline: 0;

    margin-top: -56.6vw;

    font-size: 4vw;
}

.StartButton:hover {
    cursor: pointer;
}

@media all and ( min-width:600px) {
    .Main {
        height: 100vh;
        width: auto;
    }
    
    .imgBG {
        height: 100vh;
        width: auto;
    }
    
    .StartButton {
        padding: 1.27vh 3.1vh;

        line-height: 3.15vh;
    
        border: 0.32vh solid #95c8e6;
        border-radius: 2.5vh;
        box-shadow: 0 0 0.61vh 0 #008cff;
    
        margin-top: -32.33vh;
    
        font-size: 2.34vh;
    }
}