@font-face { font-family: 'NanumBarunpen Bold'; src: url(./fonts/NanumBarunpenB.ttf) format('truetype'); }

.Result {
    
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.ResultContext {
    align-items: center;
    text-align: center;

    display: flex;
    flex-direction: column;
    
    height: 100vh;
    width: 100vw;
}

.imgBG {
    position: absolute;

    height: auto;
    width: 100vw;
}

.ImageBox {
    position: absolute;

    width: 69.4vw;
    height: 69.4vw;
    
    margin-top: 16.92vw;
}

.ImageChar {
    height:100%;
    width:100%;
}

.TextChar {
    position: absolute;

    width: 59.4vw;
    height: 6.9vw;

    margin-top: 95.6vw;
}

.ExplainChar {
    position: absolute;
    
    width: 88.3vw;
    height: 69.75vw;

    margin-top: 105.83vw;
}

.Hashtag {
    position: absolute;
    
    width: 43.9vw;
    height: 5.25vw;

    margin-top: 181.3vw;
    margin-left: 17.10vw;
}

.Instagram {
    position: absolute;
    
    width: 8.9vw;
    height: 8.9vw;

    margin-top: 210.9vw;
    margin-left: -22.4vw;
}

.Facebook {
    position: absolute;
    
    width: 8.9vw;
    height: 8.9vw;

    margin-top: 210.95vw;
    margin-left: -11.5vw;
}

.KaKaoTalk {
    position: absolute;
    
    width: 8.9vw;
    height: 8.9vw;

    margin-top: 210.95vw;
    margin-left: -0.5vw;
}

.Twitter {
    position: absolute;
    
    width: 8.9vw;
    height: 8.9vw;

    margin-top: 210.95vw;
    margin-left: 10.9vw;
}

.Line {
    position: absolute;
    
    width: 8.9vw;
    height: 8.9vw;

    margin-top: 211vw;
    margin-left: 22vw;
}

@media all and ( min-width:768px )
{    
    .ResultContext {
        align-items: center;
        text-align: center;
    
        display: flex;
        flex-direction: column;
        
        height: 100vh;
        width: 768px;
    }
    
    .imgBG {
        position: absolute;
    
        height: auto;
        width: 768px;
    }
    
    .ImageBox {
        position: absolute;

        width: 532.992px;
        height: 532.992px;
        
        margin-top: 129.95px;
    }
    
    .ImageChar {
        height:100%;
        width:100%;
    }
    
    .TextChar {
        position: absolute;
    
        width: 456.19px;
        height: 52.992px;
    
        margin-top: 734.208px;
    }
    
    .ExplainChar {
        position: absolute;
        
        width: 678.144px;
        height: 535.68px;
    
        margin-top: 812.77px;
    }
    
    .Hashtag {
        position: absolute;
        
        width: 337.152px;
        height: 40.32px;
    
        margin-top: 1392.384px;
        margin-left: 131.328px;
    }
    
    .Instagram {
        position: absolute;
        
        width: 68.352px;
        height: 68.352px;
    
        margin-top: 1619.712px;
        margin-left: -172.032px;
    }
    
    .Facebook {
        position: absolute;
        
        width: 68.352px;
        height: 68.352px;
    
        margin-top: 1620.096px;
        margin-left: -88.32px;
    }
    
    .KaKaoTalk {
        position: absolute;
        
        width: 68.352px;
        height: 68.352px;
    
        margin-top: 1620.096px;
        margin-left: -3.84px;
    }
    
    .Twitter {
        position: absolute;
        
        width: 68.352px;
        height: 68.352px;
    
        margin-top: 1620.096px;
        margin-left: 83.712px;
    }
    
    .Line {
        position: absolute;
        
        width: 68.352px;
        height: 68.352px;
    
        margin-top: 1620.48px;
        margin-left: 168.96px;
    }
}